:root {
  --cars_width: 20vw;
  --card_height: 33vh;
  --card_animate: 500ms; }

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  padding: 0;
  margin: 0; }

body {
  background: black;
  margin: 0;
  padding: 0; }

.memory-game {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-perspective: 1000px;
          perspective: 1000px; }

.memory-card {
  width: var(--cars_width);
  height: var(--card_height);
  padding: 5px;
  position: relative;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all var(--card_animate);
  -o-transition: all var(--card_animate);
  transition: all var(--card_animate);
  opacity: 1;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .memory-card::after {
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    content: '';
    background-color: #001309;
    z-index: 0;
    border-radius: 5px;
    border: 1px solid white; }
  .memory-card.transition-top {
    -webkit-transform: translateY(-100vh);
        -ms-transform: translateY(-100vh);
            transform: translateY(-100vh);
    opacity: 0; }
  .memory-card.active {
    -webkit-transition-delay: 0ms !important;
         -o-transition-delay: 0ms !important;
            transition-delay: 0ms !important; }

.memory-card:active {
  -webkit-transform: scale(0.97);
      -ms-transform: scale(0.97);
          transform: scale(0.97);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  -o-transition: transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s; }

.memory-card.flip {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg); }

.memory-card.open {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg); }

.front-face {
  z-index: 5; }

.back-face {
  z-index: 1; }

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 5%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -o-object-fit: contain;
     object-fit: contain; }

.front-face {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg); }

.back-face {
  padding: 5%; }

.analytics {
  position: fixed;
  right: 0;
  background-color: #fbfbfb;
  padding: 10px 40px;
  font-size: 18px;
  top: 50%;
  font-size: 18px;
  line-height: 1.2;
  border: 2px solid black;
  border-left: none;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }
  .analytics * {
    font-size: inherit;
    line-height: inherit; }
  .analytics span {
    font-size: 18px; }

.game_over {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #000000; }
  .game_over span, .game_over h1 {
    font-size: 60px;
    line-height: 1;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 4px; }
  .game_over span {
    -webkit-animation: animate 2.5s infinite ease-in-out;
            animation: animate 2.5s infinite ease-in-out; }

@-webkit-keyframes animate {
  0% {
    color: #00ff7f; }
  100% {
    color: black; } }

@keyframes animate {
  0% {
    color: #00ff7f; }
  100% {
    color: black; } }

.refresh {
  color: #00ff7f;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 1;
  background-color: transparent;
  margin-top: 40px;
  opacity: 0.4;
  text-decoration: none; }

#images {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  z-index: -100;
  overflow: hidden; }

.statistic__list {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  border: 1px solid #00ff7f;
  overflow: hidden; }
  .statistic__list td {
    border: 1px solid #00ff7f;
    border-collapse: collapse;
    padding: 5px; }

.statistic__list_body {
  margin-left: auto;
  margin-right: auto;
  color: white;
  list-style: none;
  overflow: auto;
  height: 100%; }

.statistic__item {
  color: #00ff7f;
  font-size: 20px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1; }
  .statistic__item:first-child {
    margin-bottom: 15px;
    font-style: italic;
    font-size: 25px; }
  .statistic__item.transition-up {
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0; }
  .statistic__item.self {
    color: red; }

.statistic__title {
  color: #00ff7f;
  font-size: 5vw;
  text-align: center; }


/*# sourceMappingURL=/scripts.71c4e892.css.map */