:root {
  --cars_width: 20vw; 
  --card_height: 33vh;
  --card_animate: 500ms;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 0;
    line-height: 0;
  }
  
  html {
    padding: 0;
    margin: 0;
  }
  body {
    background: black;
    margin: 0;
    padding: 0;

  }
  .memory-game {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
  }
  
  .memory-card {
    width: var(--cars_width);
    height: var(--card_height);
    padding: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: all var(--card_animate);
    opacity: 1;
    cursor: pointer;
    user-select: none;
    &::after {
      position: absolute;
      top: 5px;
      bottom: 5px;
      left: 5px;
      right: 5px;
      content: '';
      background-color: #001309;
      z-index: 0;
      border-radius: 5px;
      border: 1px solid white;
    }
    &.transition-top {
      transform: translateY(-100vh);
      opacity: 0;
    }
    &.active {
      transition-delay: 0ms !important;
    }
  }
  
  .memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
  }
  
  .memory-card.flip {
    transform: rotateY(180deg);
  }

  .memory-card.open {
    transform: rotateY(180deg);
  }
  
  .front-face {
    z-index: 5;
  }
  .back-face { 
    z-index: 1;
  }
 
  .front-face,
  .back-face {
    width: 100%;
    height: 100%;
    padding: 5%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    backface-visibility: hidden;
    user-select: none;
    object-fit: contain;
  }
  
  .front-face {
    transform: rotateY(180deg);
  }
  .back-face { 
    padding: 5%;
  }


  .analytics {
    position: fixed;
    right: 0;
    background-color: #fbfbfb;
    padding: 10px 40px;
    font-size: 18px;
    top: 50%;
    font-size: 18px;
    line-height: 1.2;
    border: 2px solid black;
    border-left: none;
    transform: translateY(-50%);
    * {
      font-size: inherit;
      line-height: inherit;
    }
    span {
      font-size: 18px;
    }
  }



  .game_over {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    flex-direction: column;
    background-color: #000000;
    span, h1 {
      font-size: 60px;
      line-height: 1;
      font-family: 'Open Sans', sans-serif;
      letter-spacing: 4px;
    }
    span {
      animation: animate 2.5s infinite ease-in-out;
    }
  }
    
  @keyframes animate {
    0% {
      color: #00ff7f;
    }
    100% {
      color: black;
    }
      
  }


  .refresh {
    color: #00ff7f;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 1;
    background-color: transparent;
    margin-top: 40px;
    opacity: 0.4;
    text-decoration: none;
  }